.matrix {
	float: right;
	margin: 1px;
}

.matrix.row {
	clear: both;
}

.matrix.element {
	float: left;
	width: 120px;
	height: 120px;
	padding: 1px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 8px;
}

.current {
	background-color: orange;
}

.controls {
	margin: 10px;
	float:left;
}

.display {
	margin: 1px;
	float: left;
	height: 270px;
	width: 650px;
	border: 1px solid red;
}

.library {
	background-color: lightblue;
	margin-left: 1px;
	margin-top: 10px;
	height: 235px;
	width: 650px;
	border: 1px solid white;
	border-radius: 4px;		
}

.map {
	margin: 1px;
}

.map.row {
	clear: both;
}

.map.element {
	float:left;
	width: 50;
	height: 50;
	padding: 1px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 4px;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
}

.mapSelected {
	color: white;
	background-color: orange;
}

.playback {
	float: left;
	margin: 1px;
	width: 500px;
}

.playback.row {
	/*clear: both;*/
}

.playback.element {
	width: 90;
	height: 50;
	padding: 1px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 8px;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
}

.resetFloat {
	clear: both;
}