<html ng-app="appMachine">
<head>
	<title>SkaSequencer</title>
	<!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
  	-->
  	<!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices');
    </script>
  	<![endif]-->
	<link rel="stylesheet" href="dist/css/jmachine.css"/>
	<script src="dist/js/jquery.min.js"></script>
	<script src="dist/js/jquery-ui.min.js"></script>
	<script src="dist/js/angular.min.js"></script>
	<script src="dist/js/angular-sanitize.min.js"></script>
	<script src="dist/js/select.min.js"></script>
	<script src="dist/js/slider.js"></script>
	<script src="dist/js/jmachine.min.js"></script>
</head>
<body>
	<div ng-controller="MachineController" ng-init="init();" ng-keyup="event=$event">

	<div class="controls">
		<div class="display">
			<div>
			<label>Select</label>
			
			<ui-select ng-model="drumItems.item" theme="select2">
				<ui-select-match placeholder="Select a soundbank">{{$select.selected}}</ui-select-match>
				<ui-select-choices repeat="item in drumItems">{{ item }}</ui-select-choices>
			</ui-select>
			</div>

			<div class="mixer">
				
				<div class="vertical-container" ng-repeat="item in sounds track by $index">
					<div ui-slider="{orientation: 'vertical', range: 'min', disabled: {{item.disabled}} }"  min="0.0" max="1.0" step="0.1" use-decimals ng-model="item.volume" ></div>
					<div class="mixerLabel">{{item.label}}</div>		
				</div>
			</div>

		</div>

		<div class="resetFloat"></div>

		<div class="library">
			<div class="patternSpace">
				<div class="pattern">
					<div class="pattern row">
						<div class="pattern element" ng-click="setPattern(0)" ng-class="{patternSelected: patternSelected==0, patternDisabled: patternDisabled[0]==1}">0</div>
						<div class="pattern element" ng-click="setPattern(1)" ng-class="{patternSelected: patternSelected==1, patternDisabled: patternDisabled[1]==1}">1</div>
						<div class="pattern element" ng-click="setPattern(2)" ng-class="{patternSelected: patternSelected==2, patternDisabled: patternDisabled[2]==1}">2</div>
					</div>
					<div class="pattern row">
						<div class="pattern element" ng-click="setPattern(3)" ng-class="{patternSelected: patternSelected==3, patternDisabled: patternDisabled[3]==1}">3</div>
						<div class="pattern element" ng-click="setPattern(4)" ng-class="{patternSelected: patternSelected==4, patternDisabled: patternDisabled[4]==1}">4</div>
						<div class="pattern element" ng-click="setPattern(5)" ng-class="{patternSelected: patternSelected==5, patternDisabled: patternDisabled[5]==1}">5</div>
					</div>
					<div class="pattern row">
						<div class="pattern element" ng-click="setPattern(6)" ng-class="{patternSelected: patternSelected==6, patternDisabled: patternDisabled[6]==1}">6</div>
						<div class="pattern element" ng-click="setPattern(7)" ng-class="{patternSelected: patternSelected==7, patternDisabled: patternDisabled[7]==1}">7</div>
						<div class="pattern element" ng-click="setPattern(8)" ng-class="{patternSelected: patternSelected==8, patternDisabled: patternDisabled[8]==1}">8</div>
					</div>
					<div class="pattern row">
						<div class="pattern element" ng-click="setPattern(9)" ng-class="{patternSelected: patternSelected==9, patternDisabled: patternDisabled[9]==1}">9</div>
						<div class="pattern element" ng-click="setPattern(10)" ng-class="{patternSelected: patternSelected==10, patternDisabled: patternDisabled[10]==1}">10</div>
						<div class="pattern element" ng-click="setPattern(11)" ng-class="{patternSelected: patternSelected==11, patternDisabled: patternDisabled[11]==1}">11</div>
					</div>
				</div>
			</div>
			<div class="map">

				<div class="map row">
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
				</div>
				<div class="map row">
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
				</div>
				<div class="map row">
					<div class="map element" ng-click="play('tom2');select(4);" ng-class="{mapSelected: mapSelected==4}">Tom 2</div>
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
					<div class="map element disabled"></div>
				</div>
				<div class="map row">
					<div class="map element" ng-click="play('kick');select(0);" ng-class="{mapSelected: mapSelected==0}">Kick</div>
					<div class="map element" ng-click="play('snare');select(1);" ng-class="{mapSelected: mapSelected==1}">Snare</div>
					<div class="map element" ng-click="play('hihat');select(2);" ng-class="{mapSelected: mapSelected==2}">Hi Hat</div>
					<div class="map element" ng-click="play('clap');select(3);" ng-class="{mapSelected: mapSelected==3}">Clap</div>
				</div>
			</div>
		</div>

		<div class="playback">
			<div class="playback row">
				<div class="playback element play" ng-click="run();">Play</div>
				<div class="playback element stop" ng-click="stop();">Stop</div>
				<div>
					<div class="playback stepCounter"> {{ stepValue }} </div>
					<div class="playback sync"><input type="checkbox" ng-model="sync"/> sync </div>
				</div>
			</div>
		</div>
	</div>

		<div class="matrix" id="matrix">
			<div class="matrix row">
				<div class="matrix element" id="step12" ng-class="{stepLight: soundSelected[12]!=1, current: stepValue==12, currentSoundSelected: (soundSelected[12]==1 && stepValue!=12)}" ng-click="selectStep(12);"></div>
				<div class="matrix element" id="step13" ng-class="{stepLight: soundSelected[13]!=1, current: stepValue==13, currentSoundSelected: (soundSelected[13]==1 && stepValue!=13)}" ng-click="selectStep(13);"></div>
				<div class="matrix element" id="step14" ng-class="{stepLight: soundSelected[14]!=1, current: stepValue==14, currentSoundSelected: (soundSelected[14]==1 && stepValue!=14)}" ng-click="selectStep(14);"></div>
				<div class="matrix element" id="step15" ng-class="{stepLight: soundSelected[15]!=1, current: stepValue==15, currentSoundSelected: (soundSelected[15]==1 && stepValue!=15)}" ng-click="selectStep(15);"></div>
			</div>
			<div class="matrix row">
				<div class="matrix element" id="step8" ng-class="{stepLight: soundSelected[8]!=1, current: stepValue==8, currentSoundSelected: (soundSelected[8]==1 && stepValue!=8)}" ng-click="selectStep(8);"></div>
				<div class="matrix element" id="step9" ng-class="{stepLight: soundSelected[9]!=1, current: stepValue==9, currentSoundSelected: (soundSelected[9]==1 && stepValue!=9)}" ng-click="selectStep(9);"></div>
				<div class="matrix element" id="step10" ng-class="{stepLight: soundSelected[10]!=1, current: stepValue==10, currentSoundSelected: (soundSelected[10]==1 && stepValue!=10)}"ng-click="selectStep(10);"></div>
				<div class="matrix element" id="step11" ng-class="{stepLight: soundSelected[11]!=1, current: stepValue==11, currentSoundSelected: (soundSelected[11]==1 && stepValue!=11)}" ng-click="selectStep(11);"></div>
			</div>
			<div class="matrix row">
				<div class="matrix element" id="step4" ng-class="{stepLight: soundSelected[4]!=1, current: stepValue==4, currentSoundSelected: (soundSelected[4]==1 && stepValue!=4)}" ng-click="selectStep(4);"></div>
				<div class="matrix element" id="step5" ng-class="{stepLight: soundSelected[5]!=1, current: stepValue==5, currentSoundSelected: (soundSelected[5]==1 && stepValue!=5)}" ng-click="selectStep(5);"></div>
				<div class="matrix element" id="step6" ng-class="{stepLight: soundSelected[6]!=1, current: stepValue==6, currentSoundSelected: (soundSelected[6]==1 && stepValue!=6)}" ng-click="selectStep(6);"></div>
				<div class="matrix element" id="step7" ng-class="{stepLight: soundSelected[7]!=1, current: stepValue==7, currentSoundSelected: (soundSelected[7]==1 && stepValue!=7)}" ng-click="selectStep(7);"></div>
			</div>
			<div class="matrix row">
				<div class="matrix element" id="step0" ng-class="{stepLight: soundSelected[0]!=1, current: stepValue==0, currentSoundSelected: (soundSelected[0]==1 && stepValue!=0)}" ng-click="selectStep(0);"></div>
				<div class="matrix element" id="step1" ng-class="{stepLight: soundSelected[1]!=1, current: stepValue==1, currentSoundSelected: (soundSelected[1]==1 && stepValue!=1)}" ng-click="selectStep(1);"></div>
				<div class="matrix element" id="step2" ng-class="{stepLight: soundSelected[2]!=1, current: stepValue==2, currentSoundSelected: (soundSelected[2]==1  && stepValue!=2)}" ng-click="selectStep(2);"></div>
				<div class="matrix element" id="step3" ng-class="{stepLight: soundSelected[3]!=1, current: stepValue==3, currentSoundSelected: (soundSelected[3]==1 && stepValue!=3)}" ng-click="selectStep(3);"></div>
			</div>
		</div>
	</div>
</body>
</html>
