.mixer {
  width: 610px;
  margin: 80px 30px 20px 10px;
}
.mixerLabel {
  margin-top: 10px;
  font-family: verdana;
  font-size: 7px;
}
.vertical-container {
  margin-left: 20px;
  display: inline-block;
}
.horizontal-container {
  margin-left: 20px;
}
#swatch {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }