.content {
    background-color: #e1ded7;
}

.selector {
    font-family: verdana;
    margin: 20px;
}

.matrix {
	float: left;
	margin: 1px;
}

.matrix.row {
	clear: both;
}

.matrix.element {
	float: left;
	width: 120px;
	height: 120px;
	padding: 1px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 8px;
}

.current {
	background-color: #ffc933;
	box-shadow: 0px 3px 0px 0px rgb(34,34,34), /* 1st Shadow */  
            0px 7px 10px 0px rgb(170,170,17), /* 1nd Shadow */  
            inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
            inset 0px -12px 35px 0px rgba(170, 170, 0, .2); /* 4th Shadow */ 
}

.currentSoundSelected {
	background-color: #66ddff;
	box-shadow: 0px 3px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 7px 10px 0px rgb(17,170,170), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(0, 0, 0, .2); /* 4th Shadow */ 	
}

.stepLight {
	box-shadow: 0px 3px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 7px 10px 0px rgb(170,170,17), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
        inset 0px -12px 35px 0px rgba(170, 170, 0, .2); /* 4th Shadow */ 
}

.controls {
	margin: 9px;
	float:left;
}

.playback.stepCounter {
	width: 50px;
	height: 52px;
	vertical-align: 50px;
	text-align: center;
	background-color: black;
	border: 1px solid black;
	border-radius: 4px;
	color: white;
	font-size: 17px;
	font-family: Verdana;
	margin: 2px;
    line-height: 270%;
}

.playback.sync {
	float: left;
	width: 150px;
	height: 20px;
	font-family: Verdana;
	font-size: 12px;
}

.display {
	margin: 1px;
	float: left;
	height: auto;
	width: auto;
	border: 2px solid;
	border-radius: 8px;	
    background-color: #788E9C;
    color: #eded7f;
}

.library {
	background-color: #ffffff;
    margin: 10px 1px 1px 1px;  
	height: 265px;
	width: auto;
	border: 1px solid white;
	border-radius: 4px;		
}

.map {
	margin: 4px 4px 1px 6px;
	float:left;
}

.map.row {
	clear: both;
}

.map.element {
	float:left;
	width: 50;
	height: 50;
	padding: 1px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 4px;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.map.element.notEmpty {
    background-color: white;
    box-shadow: 0px 1px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 2px 2px 0px rgb(17,170,170), /* 1nd Shadow */  
        inset 0px 2px 2px 0px rgba(250, 250, 250, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(17, 170, 170, .1); /* 4th Shadow */
}

.map.element.disabled {
	background-color: lightgrey;
    box-shadow: 0px 1px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 1px 1px 0px rgb(17,170,170), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 250, 250, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(17, 170, 170, .1); /* 4th Shadow */
}

.mapSelected {
	color: white;
	background-color: #66ddff;
	box-shadow: 0px 1px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 5px 5px 0px rgb(17,170,170), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 250, 250, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(0, 0, 0, .1); /* 4th Shadow */ 
}

.patternSpace {
	float:left;
	width: auto;
	height: auto;
}

.pattern {
	margin: 6px;
}

.pattern.row {
	clear: both;
}

.pattern.element {
	float:left;
	width: 88;
	height: 50;
	padding: 1px;
	margin: 4px;
	border: 1px solid white;
	border-radius: 4px;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;	
}

.patternDisabled {
	background-color: white;
    box-shadow: 0px 1px 0px 0px rgb(255,10,255), /* 1st Shadow */  
        0px 1px 1px 0px rgb(170,17,170), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 25, 250, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(250, 0, 250, .1); /* 4th Shadow */
}

.patternSelected {
	color: white;
	background-color: #ff01ff;
	box-shadow: 0px 1px 0px 0px rgb(255,10,255), /* 1st Shadow */  
        0px 3px 3px 0px rgb(255,10,255), /* 1nd Shadow */  
        inset 0px 3px 3px 0px rgba(255, 10, 255, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(0, 0, 0, .1); /* 4th Shadow */ 
}

.patternAction {
    float:left;
    margin-top: 6px;
    width: 66px;
}

.patternAction.element {
	float:left;
	width: 65;
	height: 50;
	padding: 1px;
	margin: 4px;
	border: 1px solid black;
	border-radius: 4px;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;   
    box-shadow: 0px 1px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 1px 1px 0px rgb(17,170,170), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 250, 250, .3), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(17, 170, 170, .3); /* 4th Shadow */
}

.playback {
	float: left;
	margin: 2px 2px 2px 6px;
	width: 500px;
}

.playback.row {
	/*clear: both;*/
}

.playback.element {
	width: 80;
	height: 50;
	padding: 1px;
	margin: 2px;
	border: 1px solid white;
	border-radius: 8px;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.playback.element.play {
	color: #33cc44;
	/*background-color: #33cc44;*/
	box-shadow: 0px 1px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 3px 3px 0px rgb(17,170,17), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(25, 250, 25, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(0, 0, 0, .1); /* 4th Shadow */ 
}

.playback.element.play.run {
	color: white;
	background-color: #33cc44;
}

.playback.element.stop {
	color: white;
	background-color: black;
	box-shadow: 0px 1px 0px 0px rgb(34,34,34), /* 1st Shadow */  
        0px 4px 4px 0px rgb(170,170,170), /* 1nd Shadow */  
        inset 0px 1px 1px 0px rgba(250, 250, 250, .1), /* 3rd Shadow */   
        inset 0px -12px 15px 0px rgba(0, 0, 0, .1); /* 4th Shadow */ 
}

.resetFloat {
	clear: both;
}

select {
	border: 1px solid;
	border-radius: 8px;
	background-color: white;
	margin: 2px;
}

label {
	font-family: Verdana;
	font-size: 13px;
	margin: 2px;
};

/*** EFX ***/
body { background: #0ff; }
@-webkit-keyframes 'blinkAction' {
    0% { background: rgba(17,170,170,0.5); }
    50% { background: rgba(17,170,170,0); }
    100% { background: rgba(17,170,170,0.5); }
}

.cssanimations .animateAction {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blinkAction;
    -webkit-animation-timing-function: ease;   
}

@-webkit-keyframes 'blinkPattern' {
    0% { background: rgba(250,10,250,0.5); }
    50% { background: rgba(250,10,250,0); }
    100% { background: rgba(250,10,250,0.5); }
}

.cssanimations .animatePattern {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blinkPattern;
    -webkit-animation-timing-function: ease;   
}